.cartContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 30px;
  flex-wrap: wrap;
}

.cartItems {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.cartItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.cartSummary {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 16px;
  gap: 10px;
  border: 4px solid #003366;
  border-radius: 6px;
  background-color: white;
}

.cartSummary h2 {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .cartContainer {
    margin: 20px;
  }

  .cartItems,
  .cartSummary {
    width: 100%;
  }

  .cartItem {
    width: 100%;
  }

  .link {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .cartContainer {
    margin: 10px;
  }

  .cartSummary {
    padding: 10px;
    border-width: 4px;
  }
}
