.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003366;
}

.navbarNav {
    list-style: none;
    display: flex;
    gap: 1rem;
    color: #000000;
}

li:hover {
    color: #ffffff;
    transition: .3s;
}

.brandLogo {
    padding-left: 10px;
    color: #000000;
    ;
}