.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #003366;
}

.navbarNav {
  list-style: none;
  display: flex;
  gap: 1rem;
  color: #000000;
  padding-right: 80px;
}

li:hover {
  color: #ffffff;
  transition: 0.3s;
}

.brandLogo {
  align-items: center;
  padding-left: 10px;
  color: #000000;
}
