.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #003366;
}

.navbarNav {
  list-style: none;
  display: flex;
  gap: 1rem;
  color: #000000;
  padding-right: 80px;
}

a {
  font-size: 20px;
  text-decoration: none;
  gap: 1rem;
  color: #ffffff;
}

a:hover {
  color: #000000;
  transition: 0.3s;
}

.brandLogo {
  margin: 10px;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
}
